    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Done By</h3>
                <p>.</p>
            </div>
            <div class="footer-column">
                <h3>Contact</h3>
                <p>Email: crescentnotes53@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>
